[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ClusTorus"]
	path = ClusTorus
	url = https://github.com/sungkyujung/clustorus
